@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte1);
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 16px;
    padding-bottom: 50px;
}

header > h1 {
    font-family: var(--fonte2);
    font-size: 100px;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    font-size: 3.4vw;
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;    
}

section > p {
    padding-bottom: 1.6em;
}

section.normal {
    background-color: #ffffff;
    color: black;
}

section.imagem {
    box-shadow: inset 0px 2px 15px rgba(0, 0, 0, 0.507);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    color: white;
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
}

#foto1 {
    background-image: url('../imagens/background001.jpg');
    background-position: center;
}

#foto2 {
    background-image: url('../imagens/background002.jpg');
}

section#foto2 > p {
    background-color: #22222298
}

footer > p {
    background-color: #000000;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}